/*
Syntax error: Invalid CSS after "$theme-color: ": expected expression (e.g. 1px, bold), was "##fcd49e ;"
        on line 5 of /home/ec2-user/octopress/sass/base/_theme.scss
        from line 3 of /home/ec2-user/octopress/sass/_base.scss
        from line 7 of /home/ec2-user/octopress/sass/screen.scss

1: /home/ec2-user/octopress/sass/screen.scss

Backtrace:
/home/ec2-user/octopress/sass/base/_theme.scss:5
/home/ec2-user/octopress/sass/_base.scss:3
/home/ec2-user/octopress/sass/screen.scss:7
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1146:in `expected'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/script/lexer.rb:199:in `expected!'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/script/parser.rb:471:in `assert_expr'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/script/parser.rb:49:in `parse'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1022:in `sass_script'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:514:in `variable'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:553:in `block_child'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:546:in `block_contents'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:82:in `stylesheet'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:27:in `parse'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/engine.rb:342:in `_to_tree'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/engine.rb:274:in `to_tree'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `map'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/bin/compass:44:in `call'
/home/ec2-user/.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/home/ec2-user/.rvm/gems/ruby-2.1.1/bin/compass:23:in `load'
/home/ec2-user/.rvm/gems/ruby-2.1.1/bin/compass:23:in `<main>'
/home/ec2-user/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/home/ec2-user/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"$theme-color: \": expected expression (e.g. 1px, bold), was \"##fcd49e ;\"\A         on line 5 of /home/ec2-user/octopress/sass/base/_theme.scss\A         from line 3 of /home/ec2-user/octopress/sass/_base.scss\A         from line 7 of /home/ec2-user/octopress/sass/screen.scss\A \A 1: /home/ec2-user/octopress/sass/screen.scss"; }
